//===================================== HERO3 START =====================================//

.hero3 {
    border-radius: 10px;
    padding: 134px 0px 134px 85px;
    background-image: url("../../../src/assets/img/hero3.png");
    background-repeat: no-repeat;
    margin-bottom: 164px;

    h1 {
        color: #FEFCF7;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px;
        margin-bottom: 32px;
    }

    p {
        width: 445px;
        color: #FEFCF7;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }
}

//===================================== HERO3 END =====================================//